@using Varesin.Mvc.Models.Report
@using Varesin.Mvc.Models
@using Varesin.Mvc.Models.Pagination
@using Microsoft.AspNetCore.Mvc.Rendering
@using Varesin.Domain.Enumeration
@using Varesin.Mvc.Services
@using DNTPersianUtils.Core

@model SearchModel<ReportSearchViewModel, PaginationViewModel<ReportViewModel>>
@{
    ViewData["Title"] = "الصاق گزارش - پنل مدیریتی وارثین";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var workingGroupSelector = (List<SelectListItem>)ViewBag.WorkingGroupSelector;
    var pafeSizeSelector = (List<SelectListItem>)ViewBag.PageSizeSelector;
    var project = (Varesin.Mvc.Models.Project.ProjectViewModel)ViewBag.Project;

}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item"><a href="/Admin/Project">مشاهده پروژه های سامانه</a></li>
        <li class="breadcrumb-item active" aria-current="page">الصاق گزارش</li>
    </ol>
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">الصاق گزارش</div>
    <div class="panel-body">
        <div class="row flex-end">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div>
                    <label for="pwd">عنوان پروژه : <span class="label label-info">@(project?.Title)</span></label>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div>
                    @if (string.IsNullOrEmpty(project.Report?.Title))
                    {
                        <label for="pwd">عنوان گزارش انتخاب شده : <span class="label label-danger">گزارشی انتخاب نشده است</span></label>
                    }
                    else
                    {
                        <label for="pwd">عنوان گزارش انتخاب شده : <span class="label label-default">@(project.Report?.Title)</span></label>
                    }

                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div>
                    <label for="pwd">نوع پروژه : <span class="label label-success">@(project.Type?.Title)</span></label>
                </div>
            </div>
        </div>
        <hr />
        <form>
            <div class="row flex-end">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="pwd">عنوان گزارش : </label>
                        <input name="Title" value="@(Model?.Search?.Title)" type="text" placeholder="عنوان" class="form-control" id="pwd">
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="pwd">کارگروه گزارش : </label>
                        <select name="WorkingGroupId" asp-items="@workingGroupSelector" class="form-control"></select>
                    </div>
                </div>


                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="pwd">تعداد آیتم نمایشی : </label>
                        <select name="PageSize" asp-items="@pafeSizeSelector" class="form-control"></select>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <button type="submit" class="ladda-button btn btn-primary btn-block" data-style="zoom-in">
                            <span class="ladda-label">جستجو <i class="fa fa-search"></i></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <a asp-action="Report" asp-controller="Project" asp-area="Admin" asp-route-id="@(project.Id)" class="btn btn-danger btn-block">
                            حذف فیلتر <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <hr />
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>عکس اصلی گزارش</th>
                        <th>عنوان گزارش</th>
                        <th>کارگروه گزارش</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data.Data)
                    {
                        <tr>
                            <td>
                                <img src="~/Files/Report/@(item.PrimaryPicture)" class="img-thumbnail" style="width:60px;height:60px;" />
                            </td>
                            <td>@item.Title?.ToPersianNumbers()</td>
                            <td>@item.WorkingGroup?.Title?.ToPersianNumbers()</td>

                            <td>
                                @if (UserAccessService.UserIsInRole(User, AccessCode.AttachReport))
                                {
                                    if (item.Id == project.ReportId)
                                    {
                                        <label class="label label-info">گزارش انتخاب شده برای پروژه</label>
                                    }
                                    else
                                    {
                                        <a asp-action="SelectReport" asp-controller="Project" asp-area="Admin" asp-route-id="@(project.Id)" asp-route-reportId="@(item.Id)" class="btn btn-success">انتخاب</a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("_Pagination", Model.Data)
    </div>
</div>


