@using Varesin.Mvc.Models.SlideShow
@using Varesin.Mvc.Models.Project
@using Varesin.Mvc.Models.Report
@{
    ViewData["Title"] = "گروه جهادی وارثین";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var slideShows = (List<SlideShowViewModel>)ViewBag.SlideShows;
    var lastProjects = (List<ProjectViewModel>)ViewBag.Projects;
    var lastReports = (List<ReportViewModel>)ViewBag.Reports;

}

<div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel"
     data-pause="hover" data-interval="4000">

    <header class="header">
        <div class="container">
            <div class="">
                <div class="col-md-6 col-sm-6 col-xs-12 text-left">
                    <img src="~/img/bsml-txt.png" alt="گروه جهادی وارثین" class="img-responsive" />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="text-right header-txt">به گروه جهادی وارثین خوش آمدید </div>
                </div>
            </div>
        </div>
    </header>
    <!-- navigation -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="margin: 10px 16px 0;" asp-action="Register" asp-controller="Account" target="_blank" class="btn btn-primary register">
                    ثبت نام در گروه جهادی
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/"><i class="pe-7s-home"></i> صفحه اصلی</a></li>
                    <li><a asp-action="ContactUs" asp-controller="Home"><i class="pe-7s-call"></i> تماس با ما </a></li>
                    <li><a asp-action="AboutUs" asp-controller="Home"><i class="pe-7s-user"></i> درباره ما</a></li>
                    <li><a href="/Project"><i class="pe-7s-diamond"></i>پروژه ها </a></li>
                    <li><a href="/Report"><i class="pe-7s-file"></i> گزارشات</a></li>
                    <li><a href="/FinancialSupport"><i class="pe-7s-credit" aria-hidden="true"></i> مساعدت مالی</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a asp-action="Register" asp-controller="Account"><span class="pe-7s-lock"></span> ثبت نام در گروه جهادی </a></li>
                    <li><a asp-action="Login" asp-controller="Account"><span class="pe-7s-back"></span> ورود</a></li>
                </ul>
            </div>
        </div>
    </nav>

    @if (slideShows.Count != 0)
    {
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @for (int i = 0; i < slideShows.Count; i++)
            {
                <li data-target="#bootstrap-touch-slider" data-slide-to="@(i)" class="@(i==0 ? "active" : "")"></li>
            }


        </ol>

        <!-- Wrapper For Slides -->
        <div class="carousel-inner" role="listbox">
            @for (int i = 0; i < slideShows.Count; i++)
            {
                <div class="@(i==0 ? "item active" : "item")">
                    <!-- Slide Background -->
                    <img src="~/Files/SlideShow/@(slideShows[i].FileName)" alt="گروه جهادی وارثین" class="slide-image" />
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_center">
                        <h1 data-animation="animated flipInX">@(slideShows[i].Title) </h1>
                        <p data-animation="animated lightSpeedIn">
                            @(slideShows[i].Description)
                        </p>
                        @if (string.IsNullOrEmpty(slideShows[i].Link))
                        {
                            <a asp-action="AboutUs" asp-controller="Home" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">
                                درباره ما
                            </a>
                        }
                        else
                        {
                            <a href="@(slideShows[i].Link)" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">
                                مشاهده جزئیات
                            </a>
                        }

                        <a asp-action="ContactUs" asp-controller="Home" target="_blank" class="btn btn-primary" data-animation="animated fadeInDown">
                            تماس با
                            ما
                        </a>
                    </div>
                </div>
            }
        </div>

        <!-- Left Control -->
        <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <!-- Right Control -->
        <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    }

    else {
        <style>
            .header {
                position: relative;
                background-color: #3a93b0 !important;
            }

            .navbar {
                position: static;
                background-color: #333 !important;
            }
        </style>
    }   
</div>


<!-- service -->

<div class="services">
    <div class="services__title">خدمات گروه جهادی وارثین </div>
    <div class="services__desc">خدماتی که گروه جهادی وارثین ارائه میدهد </div>
    <div class="services__item">
        <div>
            <i class="icon flaticon-quran-rehal"></i>
            <div class="services__item__title">آموزش قرآن</div>
        </div>
        <div>
            <i class="icon flaticon-heart-1"></i>
            <div class="services__item__title">خدمات خیریه و کمک</div>
        </div>
        <div>
            <i class="icon flaticon-mosque"></i>
            <div class="services__item__title">ساخت مسجد</div>
        </div>
        <div>
            <i class="icon flaticon-social-care"></i>
            <div class="services__item__title">کمک به فقرا</div>
        </div>
    </div>
</div>

@if (lastProjects.Count != 0)
{
    <!-- project -->

    <div class="project">
        <div class="container">
            <div class="row">
                <div class="project__title">پروژه های گروه جهادی وارثین</div>
                <div class="project__arrow">
                    <i data-role="slick-right" class="fa fa-arrow-circle-right"></i>
                    <i data-role="slick-left" class="fa fa-arrow-circle-left"></i>
                </div>
                <div class="project__slick">
                    @foreach (var item in lastProjects)
                    {
                        <div class="col-xs-12">
                            <div class="project__slick__item">
                                <div class="project__slick__item__img">
                                    <img src="@(item.RelativeImage)" alt="گروه جهادی وارثین" class="img-responsive" />
                                </div>
                                <div class="project__slick__item__title">
                                    @(item.Title)
                                </div>
                                <div class="project__slick__item__desc">
                                    <div class="row">
                                        <div class="col-xs-6 text-left">
                                            <span>
                                                نوع پروژه :

                                            </span>
                                            <span>@(item.Type?.Title)</span>
                                            <!-- <i class="pe-7s-home"></i> -->
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <span>
                                                وضعیت :
                                            </span>
                                            @if (item.State == Varesin.Domain.Enumeration.ProjectState.Doing)
                                            {
                                                <span class="label label-primary">در حال انجام</span>
                                            }
                                            else if (item.State == Varesin.Domain.Enumeration.ProjectState.End)
                                            {
                                                <span class="label label-success ">به اتمام رسیده</span>
                                            }
                                            else
                                            {
                                                <span class="label label-warning">درحال تأمین اعتبار</span>
                                            }
                                            <!-- <i class="pe-7s-home"></i> -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 text-left">
                                            <span>
                                                محل پروژه :
                                                @if (string.IsNullOrEmpty(item.Location))
                                                {
                                                    <span style="color:red;">نامشخص</span>
                                                }
                                                else
                                                {
                                                    <span>
                                                        @(item.Location)
                                                    </span>
                                                }
                                            </span>
                                            <!-- <i class="pe-7s-home"></i> -->
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <span>
                                                زمان :
                                                @if (string.IsNullOrEmpty(item.Time))
                                                {
                                                    <span style="color:red;">نامشخص</span>
                                                }
                                                else
                                                {
                                                    <span>@(item.Time)</span>
                                                }
                                            </span>
                                            <!-- <i class="pe-7s-home"></i> -->
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 text-left">
                                            <span>
                                                برآورد هزینه پروژه :
                                            </span>
                                            @if (item.CostEstimation.HasValue)
                                            {
                                                <span>@(item.CostEstimation.Value.ToString("#,##")) تومان</span>
                                            }
                                            else
                                            {
                                                <span style="color:red;">وارد نشده است</span>
                                            }
                                            <!-- <i class="pe-7s-home"></i> -->
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 text-left">
                                            <span>
                                                گزارش متصل شده :
                                            </span>
                                            @if (item.ReportId.HasValue)
                                            {
                                                <a asp-action="Detail" asp-controller="Report" asp-route-id="@(item.ReportId)">مشاهده</a>
                                            }
                                            else
                                            {
                                                <span style="color:red;">گزارشی متصل نشده است</span>
                                            }
                                            <!-- <i class="pe-7s-home"></i> -->
                                        </div>
                                    </div>


                                </div>
                                <div class="text-center">
                                    <a asp-action="Index" asp-controller="FinancialSupport" asp-route-id="@(item.Id)" asp-route-type="@(Varesin.Domain.Enumeration.PaymentType.Project)" class="btn btn-primary">مساعدت مالی برای پروژه</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="row text-center title-top" style="margin-top: 40px;" >
                <p style="font-weight: 600;">برای مشاهده همه پروژه ها بر روی لینک زیر کلیک کنید </p>
                <a asp-action="Index" asp-controller="Project" style="border-radius: 15px;" class="btn btn-primary">مشاهده همه پروژه ها</a>
            </div>
        </div>
    </div>


    <!-- report -->
}

@if (lastReports.Count != 0)
{
    <div class="report">
        <div class="container">
            <div class="report__title">
                گزارشات تصویری گروه جهادی وارثین
                <a asp-action="Index" asp-controller="Report" style="float: left;">مشاهده همه گزارشات</a>
            </div>
            <div class="row">
                @foreach (var item in lastReports)
                {
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <a asp-action="Detail" asp-controller="Report" asp-route-id="@(item.Id)">
                            <div class="report__item">
                                <img src="~/Files/Report/@(item.PrimaryPicture)" alt="@item.Title - گره جهادی وارثین" />
                                <div class="report__item__title">@(item.Title)</div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
}



