@using Varesin.Mvc.Models.Member
@using Microsoft.AspNetCore.Mvc.Rendering
@model MemberViewModel
@{
    ViewData["Title"] = "بررسی اطلاعات درخواست کننده";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var statusSelector = (List<SelectListItem>)ViewBag.StatusSelector;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item">
            <a href="/Admin/Member/Interviewer">
                کارتابل گزینشگر
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">بررسی اطلاعات درخواست کننده</li>
    </ol>
</nav>


<div class="panel panel-primary">
    <div class="panel-heading">بررسی اطلاعات درخواست کننده</div>
    <div class="panel-body">
        <h2>اطلاعت وارد شده توسط درخواست کننده : </h2>
        <p>نا و نام خانوداگی : @Model.FullName</p> <hr />
        <p>شماره همراه : @Model.PhoneNumber</p> <hr />
        <p>
            امکان حضور در روزهای جمعه :
            @if (Model.AttendOnFridays)
            {
                <span>دارد</span>
            }
            else
            {
                <span>ندارد</span>
            }
        </p> <hr />
        <p>تاریخ تولد : @Model.BirthDate</p> <hr />
        <p>زمان ایجاد درخواست : @Model.CreateDate</p> <hr />
        <p>
            سابقه آموزشی دارید ؟ کجا؟
            @Model.EducationalBackground
        </p> <hr />
        <p>رشته تحصیلی : @Model.Field</p> <hr />
        <p>
            متاهل :
            @if (Model.IsSingle)
            {
                <spa>خیر</spa>
            }
            else
            {
                <span>بله</span>
            }
        </p> <hr />
        <p>سابقه جهادی دارید ؟ @Model.JihadiHistory</p> <hr />
        <p>مهارت : @Model.Skill</p><hr />
        <p>زمان آزاد پینهادی : @Model.SuggestedFreeTime</p><hr />
        <p>نام دانشگاه / حوزه : @Model.UniversityName</p><hr />
        <p>سابقه کار با چه گروه سنی را دارید : @Model.WorkExperienceWithAgeGroup</p><hr />
        <p>کارگروه پیشنهادی : @Model.WorkingGroupOffer?.Title</p><hr />
        <p>توضیحات وارد شده توسط درخواست کننده : @Model.Description</p>
        <hr />
        <h1>گزارش مصاحبه انجام شده : </h1>
        @if (Model.Status == Varesin.Domain.Enumeration.MemberStatus.InterViewing)
        {
            <form method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" name="id" value="@Model.Id" />
                <div class="row flex-end">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="required">وضعیت : </label>
                            <select required class="form-control" name="status" asp-items="statusSelector"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="required">توضیحات : </label>
                            <textarea rows="8" required class="form-control" name="description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <button type="submit" class="ladda-button btn btn-primary btn-block" data-style="zoom-in">
                                <span class="ladda-label">ثبت </span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        }
        else
        {
            <p>کارگروه : @Model.WorkingGroup?.Title</p><hr />
            <p>
                وضعیت  :
                @if (Model.Status == Varesin.Domain.Enumeration.MemberStatus.Confirmed)
                {
                    <label class="label label-success">تایید شده</label>
                }
                else
                {
                    <label class="label label-danger">رد شده</label>
                }
            </p>
        }
    </div>
</div>