@using Varesin.Mvc.Models.Member
@using Varesin.Mvc.Models
@using Varesin.Mvc.Models.Pagination
@using Microsoft.AspNetCore.Mvc.Rendering
@using Varesin.Domain.Enumeration
@using DNTPersianUtils.Core
@using Varesin.Mvc.Services

@model SearchModel<MemberSearchViewModel, PaginationViewModel<MemberViewModel>>
@{
    ViewData["Title"] = "کارتابل مسیول اصلی گزینش - پنل مدیریتی وارثین";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var pafeSizeSelector = (List<SelectListItem>)ViewBag.PageSizeSelector;
    var statusSelector = (List<SelectListItem>)ViewBag.StatusSelector;

}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item active" aria-current="page">کارتابل مسیول اصلی گزینش</li>
    </ol>
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">کارتابل مسیول اصلی گزینش</div>
    <div class="panel-body">
        <form>
            <div class="row flex-end">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="pwd"> نام و نام خانوادگی : </label>
                        <input name="FullName" value="@Model?.Search?.FullName" type="text" placeholder="نام و نام خانوادگی" class="form-control" id="pwd">
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="pwd">شماره تلفن : </label>
                        <input name="PhoneNumber" value="@Model?.Search?.PhoneNumber" type="text" placeholder="شماره تلفن" class="form-control" id="pwd">
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="pwd">تعداد آیتم نمایشی : </label>
                        <select name="PageSize" asp-items="@pafeSizeSelector" class="form-control"></select>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="pwd">وضعیت : </label>
                        <select name="Status" asp-items="@statusSelector" class="form-control"></select>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <button type="submit" class="ladda-button btn btn-primary btn-block" data-style="zoom-in">
                            <span class="ladda-label">جستجو <i class="fa fa-search"></i></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <a asp-action="Index" asp-controller="Member" asp-area="Admin" class="btn btn-danger btn-block">
                            حذف فیلتر <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <hr />
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>نام و نام خانوادگی</th>
                        <th>شماره همراه</th>
                        <th>رشته تحصیلی</th>
                        <th>وضعیت</th>
                        <th>تاریخ درخواست</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data.Data)
                    {
                        <tr>
                            <td>@item.FullName?.ToPersianNumbers()</td>
                            <td>@item.PhoneNumber?.ToPersianNumbers()</td>
                            <td>
                                @item.Field?.ToPersianNumbers()
                            </td>
                            <td>
                                @if (item.Status == MemberStatus.Wating)
                                {
                                    <label class="label label-warning">در حال انتظار</label>
                                }
                                else if (item.Status == MemberStatus.Rejected)
                                {
                                    <label class="label label-danger">رد شده</label>
                                }
                                else if (item.Status == MemberStatus.InterViewing)
                                {
                                    <label class="label label-info">درحال انجام مصاحبه</label>
                                }
                                else
                                {
                                    <label class="label label-success">تایید شده</label>
                                }
                            </td>
                            <td>
                                @item.CreateDate.ToPersianDateTextify()
                            </td>
                            <td>
                              
                                    <a asp-action="Check" asp-area="Admin" asp-controller="Member" asp-route-id="@(item.Id)" class="btn btn-success">مشاهده و بررسی</a>
                                

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("_Pagination", Model.Data)
    </div>
</div>


