@using Varesin.Mvc.Models.ContactUs
@using Varesin.Mvc.Models
@using Varesin.Mvc.Models.Pagination
@using Microsoft.AspNetCore.Mvc.Rendering
@using Varesin.Domain.Enumeration
@using Varesin.Mvc.Services
@using DNTPersianUtils.Core

@model SearchModel<ContactUsSearchViewModel, PaginationViewModel<ContactUsViewModel>>
@{
    ViewData["Title"] = "مشاهده انتقاد و پیشنهاد های سامانه - پنل مدیریتی وصی - پایگاه اطلاع رسانی مسجد امیرالمومنین (علیه السلام)";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var pageSizeSelector = (List<SelectListItem>)ViewBag.PageSizeSelector;

}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item active" aria-current="page">مشاهده انتقاد و پیشنهاد های سامانه </li>
    </ol>
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">مشاهده انتقاد و پیشنهاد های سامانه</div>
    <div class="panel-body">
        <form>
            <div class="row flex-end">

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="pwd">تعداد آیتم نمایشی : </label>
                        <select name="PageSize" asp-items="@pageSizeSelector" class="form-control"></select>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <button type="submit" class="ladda-button btn btn-primary btn-block" data-style="zoom-in">
                            <span class="ladda-label">جستجو <i class="fa fa-search"></i></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <a asp-action="Index" asp-controller="ContactUS" asp-area="Admin" class="btn btn-danger btn-block">
                            حذف فیلتر <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <hr />
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>شماره همراه</th>
                        <th>نام و نام خانوداگی</th>
                        <th>متن</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data.Data)
                    {
                        <tr>
                            <td>@item.PhoneNumber?.ToPersianNumbers()</td>
                            <td>@item.FullName?.ToPersianNumbers()</td>
                            <td>@item.Text?.ToPersianNumbers()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("_Pagination", Model.Data)
    </div>
</div>


