@using Varesin.Mvc.Models.Report
@using Varesin.Mvc.Models
@using Varesin.Mvc.Models.Pagination
@using Microsoft.AspNetCore.Mvc.Rendering
@using Varesin.Domain.Enumeration
@using Varesin.Mvc.Services
@using DNTPersianUtils.Core

@model SearchModel<ReportSearchViewModel, PaginationViewModel<ReportViewModel>>
@{
    ViewData["Title"] = "مشاهده گزارش های سامانه - پنل مدیریتی وارثین";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var workingGroupSelector = (List<SelectListItem>)ViewBag.WorkingGroupSelector;
    var pafeSizeSelector = (List<SelectListItem>)ViewBag.PageSizeSelector;

}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item active" aria-current="page">مشاهده گزارش های سامانه</li>
    </ol>
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">مشاهده پروژه های سامانه</div>
    <div class="panel-body">
        <form>
            <div class="row flex-end">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="pwd">عنوان گزارش : </label>
                        <input name="Title" value="@(Model?.Search?.Title)" type="text" placeholder="عنوان" class="form-control" id="pwd">
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="pwd">کارگروه گزارش : </label>
                        <select name="WorkingGroupId" asp-items="@workingGroupSelector" class="form-control"></select>
                    </div>
                </div>


                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="pwd">تعداد آیتم نمایشی : </label>
                        <select name="PageSize" asp-items="@pafeSizeSelector" class="form-control"></select>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <button type="submit" class="ladda-button btn btn-primary btn-block" data-style="zoom-in">
                            <span class="ladda-label">جستجو <i class="fa fa-search"></i></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <a asp-action="Index" asp-controller="Report" asp-area="Admin" class="btn btn-danger btn-block">
                            حذف فیلتر <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <hr />
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>عکس اصلی گزارش</th>
                        <th>عنوان گزارش</th>
                        <th>کارگروه گزارش</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data.Data)
                    {
                        <tr>
                            <td>
                                <img src="~/Files/Report/@(item.PrimaryPicture)" class="img-thumbnail" style="width:60px;height:60px;" />
                            </td>
                            <td>@item.Title?.ToPersianNumbers()</td>
                            <td>@item.WorkingGroup?.Title?.ToPersianNumbers()</td>

                            <td>
                                @if (UserAccessService.UserIsInRole(User, AccessCode.EditReport))
                                {
                                    <a asp-action="Edit" asp-controller="Report" asp-area="Admin" asp-route-id="@(item.Id)" class="btn btn-success">ویرایش</a>
                                }
                                @if (UserAccessService.UserIsInRole(User, AccessCode.DeleteReport))
                                {
                                    <a data-role="confirm" asp-action="Delete" asp-controller="Report" asp-area="Admin" asp-route-id="@(item.Id)" class="btn btn-danger">حذف</a>
                                }
                                @if (UserAccessService.UserIsInRole(User, AccessCode.ReportFileManagement))
                                {
                                    <a asp-action="File" asp-controller="Report" asp-area="Admin" asp-route-id="@(item.Id)" class="btn btn-info">مدیریت فایل ها</a>
                                }
                                @if (UserAccessService.UserIsInRole(User, AccessCode.InstagramSharing))
                                {
                            <a asp-action="Instagram" asp-controller="Report" asp-area="Admin" asp-route-id="@(item.Id)" class="btn btn-primary">اشتراک گذاری در اینستاگرام</a>
                                }
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("_Pagination", Model.Data)
    </div>
</div>


