@using Varesin.Mvc.Models
@using Varesin.Mvc.Models.User
@using Varesin.Mvc.Services
@using Varesin.Domain.Enumeration
@model List<UserAccessGroupingModel>
@{
    ViewData["Title"] = "مدیریت دسترسی ها - پنل مدیریتی وصی - پایگاه اطلاع رسانی مسجد امیرالمومنین (علیه السلام)";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var user = (UserViewModel)ViewBag.User;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        @if (UserAccessService.UserIsInRole(User, AccessCode.ViewUser))
        {
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="UserManagement" asp-area="Admin">مشاهده کاربران سامانه</a></li>
        }
        <li class="breadcrumb-item active" aria-current="page">مدیریت دسترسی ها </li>
    </ol>
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">مدیریت دسترسی ها </div>
    <div class="panel-body">

        <h2>اطلاعات کاربر : </h2>
        <p>نام و نام خانوداگی : @user.FullName</p>
        <p>شماره همراه : @user.PhoneNumber</p>
        <hr />
        <form method="post">
            <input type="hidden" name="userId" value="@(user.Id)" />
            @foreach (var access in Model)
            {
                <h2>@access.Title</h2>
                @foreach (var item in access.Items)
                {
                    <div class="checkbox">
                        <label><input type="checkbox" @(item.Checked ? "checked" : "") name="ids" value="@item.Id">@item.Title</label>
                    </div>
                }
                <hr />
            }
            <button type="submit" class="ladda-button btn btn-primary" data-style="zoom-in">
                <span class="ladda-label">ثبت</span>
            </button>
        </form>
    </div>
</div>



