@using Varesin.Mvc.Models.Post
@using Varesin.Mvc.Models
@using Varesin.Mvc.Models.Pagination
@using Microsoft.AspNetCore.Mvc.Rendering
@using Varesin.Domain.Enumeration
@using Varesin.Mvc.Services
@using DNTPersianUtils.Core

@model PostViewModel
@{
    ViewData["Title"] = "فایل های پست - پنل مدیریتی وارثین";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var fileTypeSelector = (List<SelectListItem>)ViewBag.FileTypeSelector;
    var files = (List<PostFileViewModel>)ViewBag.Files;


}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item"><a href="/Admin/Post">مشاهده پست های سامانه</a></li>
        <li class="breadcrumb-item active" aria-current="page">فایل های پست</li>
    </ol>
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">فایل های پست</div>
    <div class="panel-body">
        <form method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <input type="hidden" name="PostId" value="@Model.Id" />
            <div class="alert alert-danger">
                <p>فایل انتخابی اگر عکس باشد حجم آن نباید از 500 کیلوبایت بیشتر باشد</p>
                <p>و اگر فایل انتخابی صوتی یا تصویری می باشد حجم آن نباید از 25 مگابایت یشتر باشد</p>
            </div>
            <div class="row flex-end">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="required">نوع فایل را انتخاب کنید :  </label>
                        <select required name="FileType" asp-items="@fileTypeSelector" class="form-control"></select>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="required">عنوان فایل را وارد نمایید :  </label>
                        <input type="text" name="Title" required class="form-control" />
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label class="required">فایل انتخابی : </label>
                        <input type="file" name="File" required />
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <button type="submit" class="ladda-button btn btn-primary btn-block" data-style="zoom-in">
                            <span class="ladda-label">ثبت</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <hr />
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>نوع فایل</th>
                        <th>عنوان</th>
                        <th>حجم</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>

                    @if (files.Count == 0)
                    {
                        <tr>
                            <td colspan="5">فایلی بارگذاری نشده است</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in files)
                        {
                            <tr>
                                <td>
                                    @if (item.Type == FileType.Image)
                                    {
                                        <img src="~/Files/PostFile/@(item.FileName)" class="img-thumbnail" style="width:60px;height:60px;" />
                                    }
                                    else if (item.Type == FileType.Audio)
                                    {
                                        <i class="fa fa-music text-success" style="font-size:40px" aria-hidden="true"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-video-camera text-primary" style="font-size:40px" aria-hidden="true"></i>
                                    }
                                </td>
                                <td>
                                    @if (item.Type == FileType.Image)
                                    {
                                        <label class="label label-info">عکس</label>
                                    }
                                    else if (item.Type == FileType.Audio)
                                    {
                                        <label class="label label-success">صوتی</label>
                                    }
                                    else
                                    {
                                        <label class="label label-primary">تصویری</label>
                                    }
                                </td>
                                <td>@item.Title.ToPersianNumbers()</td>
                                <td>@(Varesin.Mvc.Helper.FileHelper.GetLength(item.Length))</td>
                                <td>
                                    <a data-role="confirm" asp-action="DeleteFile" asp-controller="Post" asp-area="Admin" asp-route-id="@(item.Id)" class="btn btn-danger">حذف</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>


