@using Varesin.Mvc.Models.Report
@using Varesin.Mvc.Models
@using Varesin.Mvc.Models.Pagination
@using Microsoft.AspNetCore.Mvc.Rendering
@using Varesin.Domain.Enumeration
@using Varesin.Mvc.Services
@using DNTPersianUtils.Core

@model SearchModel<ReportUserSearchViewModel, PaginationViewModel<ReportViewModel>>
@{
    ViewData["Title"] = "گزارشات - گروه جهادی وارثین ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var workingGroupSelector = (List<SelectListItem>)ViewBag.WorkingGroupSelector;
    var pafeSizeSelector = (List<SelectListItem>)ViewBag.PageSizeSelector;
}

<div class="bread">
    <div class="container">
        <div class="col-md-12">
            <div class="bread__item">
                <div class="">شما این جا هستید :</div>
                <ul class="breadcrumb">
                    <li><a href="/">صفحه اصلی</a></li>
                    <li class="active">گزارش های گروه جهادی وارثین </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="report" style="background-color: #fff;">
    <div class="container">
        <fieldset>
            <legend>جستجو در گزارش ها : </legend>
            <form>
                <div class="row flex-end">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="pwd">عنوان گزارش : </label>
                            <input name="Title" value="@(Model?.Search?.Title)" type="text" placeholder="عنوان" class="form-control" id="pwd">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="pwd">کارگروه گزارش : </label>
                            <select name="WorkingGroupId" asp-items="@workingGroupSelector" class="form-control"></select>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="pwd">تعداد آیتم نمایشی : </label>
                            <select name="PageSize" asp-items="@pafeSizeSelector" class="form-control"></select>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <button type="submit" class="ladda-button btn btn-primary btn-block" data-style="zoom-in">
                                <span class="ladda-label">جستجو <i class="fa fa-search"></i></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <a asp-action="Index" asp-controller="Report" class="btn btn-danger btn-block">
                                حذف فیلتر <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </fieldset>
        <hr />
        <div class="row">
            @if (Model.Data.Data.Count == 0)
            {
                <div class="col-md-12 alert alert-danger">
                    <p class="text-center">داده ای یافت نشد</p>
                </div>
            }
            else
            {
                foreach (var item in Model.Data.Data)
                {
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <a asp-action="Detail" asp-controller="Report" asp-route-id="@(item.Id)">
                            <div class="report__item">
                                <img src="~/Files/Report/@(item.PrimaryPicture)" alt="@item.Title" />
                                <div class="report__item__title">
                                    <p style="margin-bottom:0px">@(item.Title)</p>
                                    <p style="margin-bottom:0px">کارگروه : @(item.WorkingGroup?.Title)</p>
                                </div>

                            </div>
                        </a>
                    </div>
                }
            }


        </div>

        @Html.Partial("_Pagination", Model.Data)
    </div>
</div>